{% extends "app/layout.html" %}

{% block content %}

<h2 class="text-center">{{ title }}</h2>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <thead>
                            <tr class="ordertable">
                                <th>Заказ #</th>
                                <th>Статус</th>
                                <th>Стоимость</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            {% for item in items %}
                            <tr class="cell-1 ordertable2">
                              
                                <td>{{item.id}}</td>
                                <td><span class="badge badge-success">{{item.get_status_display}}</span></td>
                                <td>{{item.total_price}}</td>
                                <td><a href="{% url 'delete_order' item=item.id %}" class="btn btn-danger btn-xs">Отменить</a></td>
                                <td><a href="{% url 'pool' %}" class="btn btn-warning btn-xs">Проблема</a></td>
                                <td><a href="{% url 'orderDetails' order=item.id%}" class="btn btn-primary btn-xs">Детали заказа</a></td>
                               
                                
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
