{% extends "app/layout.html" %}

{% block content %}

<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Заказ #{{order.id}}</div>
                    <div class="cart_items">
                        <ul class="cart_list">
                            {% for item in items %}
                            <li class="cart_item clearfix">
                                <div class="cart_item_image"><img src="{{item.product.image.url}}" alt="" class="picsize"></div>
                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                    <div class="cart_item_name cart_info_col">
                                        <div class="cart_item_title">Название</div>
                                        <div class="cart_item_text">{{item.product.name}}</div>
                                    </div>
                                    <div class="cart_item_quantity cart_info_col">
                                        <div class="cart_item_title">Количество</div>
                                        <div class="changing">
                                            <a href="{% url 'quantity_minus_order' %}?item={{item.id}}&order={{order.id}}" class="btn {% if item.quantity == 1 %} disabled {% endif %}"><span class="glyphicon glyphicon-minus"></span></a>
                                            <div class="cart_item_text">{{item.quantity}}</div>
                                            <a href="{% url 'quantity_plus_order' %}?item={{item.id}}&order={{order.id}}" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
                                        </div>
                                    </div>
                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Цена</div>
                                        <div class="cart_item_text">{{item.product.price}}</div>
                                    </div>
                                    <div class="cart_item_total cart_info_col">
                                        <div class="cart_item_title">Всего</div>
                                        <div class="cart_item_text">{{item.price}}</div>
                                    </div>
                                     <div class="cart_item_total cart_info_col">
                                        <a href="{% url 'delete_item_order' item=item.id %}?order={{order.id}}" class="btn btn-danger btn-xs btn-delete">Удалить</a>
                                    </div>

                                    
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title">Общая стоимость:</div>
                            <div class="order_total_amount">{{order.total_price}}</div>
                        </div>
                    </div>
                    <div class="cart_buttons">
                        <a href="{% if role == 'moderator' or role == 'admin' %} {% url 'AllOrders' %} {% else %}{% url 'myOrders' %} {% endif %}" class="btn cart_button_clear">Вернуться к заказам</a>
                        <a href="{% url 'delete_order' item=order.id %}" class="btn btn-danger cart_button_checkout ">Отменить заказ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
